

  <!-- main app container -->
  <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <h3>Angular 6 Reactive Form Validation</h3>
                 
                  <form [formGroup]="employeeForm" (ngSubmit)="processForm()">
                      <span>
                          <button class="btn btn-primary" style="margin-left: 550px;"(click)= "exportPdf(id)" [disabled] = !employeeForm.valid> Download PDF</button>
                        </span>

                        <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12':printDetails,'col-md-4 col-sm-4 col-xs-10':!printDetails}" style="margin-left: 550px;">
                            <div style="text-align: left; padding: 20px 0;">
                              <img id="passportImg" src="{{url ? url : '/Desktop'}}" width="150px"height="150px" />
                                <p><input type="file" name="employee.employeeImage" (change)="onUploadBtn($event)"  #file class="hide"></p>
                            </div>
                          </div>


                      <div class="form-group">
                          <label>EmpId:</label>
                          <input type="text" formControlName="empId" placeholder="empId" class="form-control"  [(ngModel)] ="employee.empId"
                          [ngClass]="{ 'is-invalid': submitted && f.empId.errors }"/>
                          <div *ngIf="submitted && f.empId.errors" class="invalid-feedback">
                              <div *ngIf="f.empId.errors.required">EmpId is required</div>
                          </div>
                      </div>
  
                      <div class="form-group">
                          <label>EmpFirstName:</label>
                          <input type="text" formControlName="empFirstName" placeholder="empFirstName" class="form-control"  [(ngModel)] ="employee.empFirstName"
                           [ngClass]="{ 'is-invalid': submitted && f.empFirstName.errors }" />
                          <div *ngIf="submitted && f.empFirstName.errors" class="invalid-feedback">
                              <div *ngIf="f.empFirstName.errors.required">EmpFirstName is required</div>
                          </div>
                      </div>
                      
                      <div class="form-group">
                        <label>EmpMidleName:</label>
                        <input type="text" formControlName="empMidleName" placeholder="empMidleName" class="form-control"  [(ngModel)] ="employee.empMidleName"
                         [ngClass]="{ 'is-invalid': submitted && f.empMidleName.errors }" />
                        <div *ngIf="submitted && f.empMidleName.errors" class="invalid-feedback">
                            <div *ngIf="f.empMidleName.errors.required">EmpMidleName is required</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                      <label>EmplLastName:</label>
                      <input type="text" formControlName="emplLastName" placeholder="emplLastName" class="form-control"  [(ngModel)] ="employee.emplLastName"
                       [ngClass]="{ 'is-invalid': submitted && f.emplLastName.errors }" />
                      <div *ngIf="submitted && f.emplLastName.errors" class="invalid-feedback">
                          <div *ngIf="f.emplLastName.errors.required">EmplLastName is required</div>
                      </div>
                  </div> 


                  
                  <div class="form-group">
                      <label>EmpType:</label>
                  <select  type=text formControlName="empType" placeholder="empType" class="form-control"  [(ngModel)] ="employee.empType"
                       [ngClass]="{ 'is-invalid': submitted && f.empType.errors }" >
                       <option>Permanent</option> 
                       <option>Conract</option>
                  </select>
                      <div *ngIf="submitted && f.empType.errors" class="invalid-feedback">
                          <div *ngIf="f.empType.errors.required">EmpType is required</div>
                      </div>
                  </div> 

  
                   <div class="form-group">
                      <label>EmpGender:</label>
                  <select  type=text formControlName="empGender" placeholder=" empGender " class="form-control"  [(ngModel)] ="employee.empGender"
                      [ngClass]="{ 'is-invalid': submitted && f.empGender.errors }">
                      <option>Male</option> 
                      <option>Female</option>
                      <option>Other</option> 
                  </select>
                     <div *ngIf="submitted && f.empGender.errors" class="invalid-feedback">
                          <div *ngIf="f.empGender.errors.required">EmpGender is required</div>
                      </div>
                  </div> 
  
                      <div class="form-group">
                          <button class="btn btn-primary" [disabled] = !employeeForm.valid >Submit</button>
                          <button class="btn btn-primary" style="margin-left: 140px;"(click)= "cancel()"> cancel</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  