<div class="col-md-6 user-container">
    
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="search by" (input) = onfilter($event)>
</div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>countryId</th>
        <th>countryName</th>
        <th>cityName</th>
        <th>stateName</th>
        <th>zepCode</th>
        <th>Action</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let address of addresses | paginate:{itemsPerPage: 5, currentPage:p} ">
        <td>{{address.countryId}}</td>
        <td>{{address.countryName}}</td>
        <td>{{address.cityName}}</td>
        <td>{{address.stateName}}</td>
        <td>{{address.zepCode}}</td>
        <td>
          <button class="btn btn-success" (click)="deleteAddress(address)"> Delete</button>
        </td>
        <td>
          <button class="btn btn-success"   (click)= "saveOrUpdate(address)"> Edit</button>
        </td>
      </tr>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </tbody>
    </table>
    <button class="btn btn-danger" (click)= "newAddress()"> Add Address</button>
    
  </div>
  

  