
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular 6 Reactive Form Validation</h3>
                <form [formGroup]="benefitForm" (ngSubmit)="processForm()">
                    <div class="form-group">
                        <label>benefitId:</label>
                        <input type="text" formControlName="benefitId" placeholder="benefitId" class="form-control"  [(ngModel)] ="benefit.benefitId"
                        [ngClass]="{ 'is-invalid': submitted && f.benefitId.errors }"/>
                        <div *ngIf="submitted && f.benefitId.errors" class="invalid-feedback">
                            <div *ngIf="f.benefitId.errors.required">BenefitId is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>benefitCode:</label>
                        <input type="text" formControlName="benefitCode" placeholder="benefitCode" class="form-control"  [(ngModel)] ="benefit.benefitCode"
                         [ngClass]="{ 'is-invalid': submitted && f.benefitCode.errors }" />
                        <div *ngIf="submitted && f.benefitCode.errors" class="invalid-feedback">
                            <div *ngIf="f.benefitCode.errors.required">BenefitCode is required</div>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label>benefitDesc:</label>
                        <input type="text" formControlName="benefitDesc" placeholder="benefitDesc" class="form-control"  [(ngModel)] ="benefit.benefitDesc"
                         [ngClass]="{ 'is-invalid': submitted && f.benefitDesc.errors }" />
                        <div *ngIf="submitted && f.benefitDesc.errors" class="invalid-feedback">
                            <div *ngIf="f.benefitDesc.errors.required">BenefitDesc is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary" >Submit</button>
                        <button class="btn btn-primary" style="margin-left: 140px;"(click)= "reset()"> cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
