<div class="col-md-6 user-container">
     
    <div class="form-group pull-right">
      <input type="text" class="search form-control" placeholder="search by" (input) = onFilter($event)>
  </div>
  
      <table class="table table-striped">
        <thead>
        <tr>
          <th>deductionId</th>
          <th>deductionName</th>
          <th>deductionCode</th>
          <th>deductionDesc</th>
          <th>Action</th>
          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let deduction of deductions | paginate:{itemsPerPage: 5, currentPage:p} ">
          <td>{{deduction.deductionId}}</td>
          <td>{{deduction.deductionName}}</td>
          <td>{{deduction.deductionCode}}</td>
          <td>{{deduction.deductionDesc}}</td>
          <td>
            <button class="btn btn-success" (click)= "deleteDeductionCode(deduction)"> Delete</button>
          </td>
          <td>
            <button class="btn btn-success" (click)= "saveOrUpdate(deduction)"> Edit</button>
          </td>
        </tr>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </tbody>
      </table>
      <button class="btn btn-danger" (click)= "addNemItem()">Add Deduction</button>
    </div>
    
  
    