<div class="col-md-6 user-container">

    
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="search by" (input) = onFilter($event)>
  </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>depeartmentId</th>
        <th>departmentName</th>
        <th>Action</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departments | paginate:{itemsPerPage: 5, currentPage:p} ">
        <td>{{department.depeartmentId}}</td>
        <td>{{department.departmentName}}</td>
        <td>
          <button class="btn btn-success" (click)="deletetDepartment(department)"> Delete</button>
        </td>
        <td>
          <button class="btn btn-success"   (click)= "saveOrUpdate(department)"> Edit</button>
        </td>
      </tr>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </tbody>
    </table>
    <button class="btn btn-danger" (click)= "newItem()"> Add Department</button>
    
  </div>
  

  