<div class="col-md-6 user-container">
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="search by" (input) = onFilter($event)>
  </div>
  <button class="btn btn-primary" style="margin-left: 800px;" (click) = "downloadCSVForEmployee()">Download CSV</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>empId</th>
        <th>empFirstName</th>
        <th>empMidleName</th>
        <th>emplLastName</th>
        <th>empGender</th>
        <th>Department</th>
        <th>Action</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | paginate:{itemsPerPage: 5, currentPage:p} ">
        <td>{{employee.empId}}</td>
        <td>{{employee.empFirstName}}</td>
        <td>{{employee.empMidleName}}</td>
        <td>{{employee.emplLastName}}</td>
        <td>{{employee.empGender}}</td>
        <td>{{employee.depeartmentId}}</td>
        <td>
          <button class="btn btn-success" (click)= "deleteEmployee(employee)"> Delete</button>
        </td>
          <td>
          <button class="btn btn-success" (click)= "saveOrUpdateEmployee(employee)"> Edit</button>
        </td>
      </tr>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </tbody>
    </table>
    <button class="btn btn-danger" (click)= "newEmployee()"> Add Employee</button>
  </div>
  

  