<div class="col-md-6 user-container">
     
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="search by" (input) = onFilter($event)>
</div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>benefitId</th>
        <th>benefitCode</th>
        <th>benefitDesc</th>
        <th>Action</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let benefit of benefits | paginate:{itemsPerPage: 5, currentPage:p} ">
        <td>{{benefit.benefitId}}</td>
        <td>{{benefit.benefitCode}}</td>
        <td>{{benefit.benefitDesc}}</td>
        <td>
          <button class="btn btn-success" (click)= "deletetBenefit(benefit)"> Delete</button>
        </td>
        <td>
          <button class="btn btn-success" (click)= "saveOrUpdate(benefit)"> Edit</button>
        </td>
      </tr>
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </tbody>
    </table>
    <button class="btn btn-danger" (click)= "addNemItem()">Add Benefit</button>
  </div>
  

  