
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular 6 Reactive Form Validation</h3>
                <form [formGroup] = "addressForm" (ngSubmit)="processForm()">

                    <div class="form-group">
                        <label>countryId:</label>
                        <input type="text" formControlName="countryId" placeholder="countryId" class="form-control"  [(ngModel)] ="address.countryId"
                        [ngClass]="{ 'is-invalid': submitted && f.countryId.errors }"/>
                        <div *ngIf="submitted && f.countryId.errors" class="invalid-feedback">
                            <div *ngIf="f.countryId.errors.required">CountryId is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>countryName:</label>
                        <input type="text" formControlName="countryName" placeholder="countryName" class="form-control"  [(ngModel)] ="address.countryName"
                         [ngClass]="{ 'is-invalid': submitted && f.countryName.errors }" />
                        <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
                            <div *ngIf="f.countryName.errors.required">CountryName is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                            <label>cityName:</label>
                            <input type="text" formControlName="cityName" placeholder="cityName" class="form-control"  [(ngModel)] ="address.cityName"
                             [ngClass]="{ 'is-invalid': submitted && f.cityName.errors }" />
                            <div *ngIf="submitted && f.cityName.errors" class="invalid-feedback">
                                <div *ngIf="f.cityName.errors.required">CityName is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                                <label>stateName:</label>
                                <input type="text" formControlName="stateName" placeholder="stateName" class="form-control"  [(ngModel)] ="address.stateName"
                                 [ngClass]="{ 'is-invalid': submitted && f.stateName.errors }" />
                                <div *ngIf="submitted && f.stateName.errors" class="invalid-feedback">
                                    <div *ngIf="f.stateName.errors.required">StateName is required</div>
                                </div>
                            </div>

                            
                        <div class="form-group">
                            <label>zepCode:</label>
                            <input type="text" formControlName="zepCode" placeholder="zepCode" class="form-control"  [(ngModel)] ="address.zepCode"
                             [ngClass]="{ 'is-invalid': submitted && f.zepCode.errors }" />
                            <div *ngIf="submitted && f.zepCode.errors" class="invalid-feedback">
                                <div *ngIf="f.zepCode.errors.required">ZipCode is required</div>
                            </div>
                        </div>


                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                        <button class="btn btn-primary"  style="margin-left: 140px;"(click)= "cancel()"> cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
