
<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1> SpringBoot And Angular App !</h1>
  </div>
  <div>
  <a routerLink="/department">DEPARTMENT</a>
  <a routerLink="/employee"style="margin-left: 20px;" >EMPLOYEE</a>
  <a routerLink="/address"style="margin-left: 20px;" >ADDRESS</a>
  <a routerLink="/benefit"style="margin-left: 20px;" >BENEFIT</a>
  <a routerLink="/deduction"style="margin-left: 20px;" >DEDUCTION</a></div>

  <router-outlet></router-outlet>
  </div>
 