
  <!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular 6 Reactive Form Validation</h3>
                <form [formGroup]="departmentForm" (ngSubmit)="processForm()">
                    <div class="form-group">
                        <label>depeartmentId:</label>
                        <input type="text" formControlName="depeartmentId" placeholder="depeartmentId" class="form-control"  [(ngModel)] ="department.depeartmentId"
                        [ngClass]="{ 'is-invalid': submitted && f.depeartmentId.errors }"/>
                        <div *ngIf="submitted && f.depeartmentId.errors" class="invalid-feedback">
                            <div *ngIf="f.depeartmentId.errors.required">DepeartmentId is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>departmentName:</label>
                        <input type="text" formControlName="departmentName" placeholder="departmentName" class="form-control"  [(ngModel)] ="department.departmentName"
                         [ngClass]="{ 'is-invalid': submitted && f.departmentName.errors }" />
                        <div *ngIf="submitted && f.departmentName.errors" class="invalid-feedback">
                            <div *ngIf="f.departmentName.errors.required">DepartmentName is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                        <button class="btn btn-primary"  style="margin-left: 140px;"(click)= "cancel()"> cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
