
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Angular 6 Reactive Form Validation</h3>
                <form [formGroup]="deductionForm" (ngSubmit)="processForm()">
                    <div class="form-group">
                        <label>deductionId:</label>
                        <input type="text" formControlName="deductionId" placeholder="deductionId" class="form-control"  [(ngModel)] ="deduction.deductionId"
                        [ngClass]="{ 'is-invalid': submitted && f.deductionId.errors }"/>
                        <div *ngIf="submitted && f.deductionId.errors" class="invalid-feedback">
                            <div *ngIf="f.deductionId.errors.required">DeductionId is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>deductionCode:</label>
                        <input type="text" formControlName="deductionCode" placeholder="deductionCode" class="form-control"  [(ngModel)] ="deduction.deductionCode"
                         [ngClass]="{ 'is-invalid': submitted && f.deductionCode.errors }" />
                        <div *ngIf="submitted && f.deductionCode.errors" class="invalid-feedback">
                            <div *ngIf="f.deductionCode.errors.required">DeductionCode is required</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>deductionName:</label>
                        <input type="text" formControlName="deductionName" placeholder="deductionName" class="form-control"  [(ngModel)] ="deduction.deductionName"
                         [ngClass]="{ 'is-invalid': submitted && f.deductionName.errors }" />
                        <div *ngIf="submitted && f.deductionName.errors" class="invalid-feedback">
                            <div *ngIf="f.deductionName.errors.required">DeductionName is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>deductionDesc:</label>
                        <input type="text" formControlName="deductionDesc" placeholder="deductionDesc" class="form-control"  [(ngModel)] ="deduction.deductionDesc"
                         [ngClass]="{ 'is-invalid': submitted && f.deductionDesc.errors }" />
                        <div *ngIf="submitted && f.deductionDesc.errors" class="invalid-feedback">
                            <div *ngIf="f.deductionDesc.errors.required">DeductionDesc is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" >Submit</button>
                        <button class="btn btn-primary" style="margin-left: 140px;"(click)= "reset()"> cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
